# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2020-2022 Oplus. All rights reserved.

config OPLUS_BT_BUG_STABILITY
        bool "Add for oplus bt hid bug"
        help
          Add for oplus bt hid bug.
